code {
    color: blue;
}
b {
    color: blue;
}
mat-grid-tile {
    overflow: auto;
}
div {
    padding-top: 0px;
}
li {
    padding-top: 10px;
}
.red {
    color: red;
}
.green {
    color: darkgreen;
}
